body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #302bfb;
    color: #fff;
}

header {
    background-color: #5b4dfe;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a.active {
    background-color: #fe7efe;
    padding: 5px 10px;
    border-radius: 15px;
}

main {
    padding: 40px;
}

.experience {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience-item {
    background-color: #7c7cf7;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin: 20px 0;
}

.experience-item h2 {
    margin-top: 0;
}

.experience-item h3 {
    margin-bottom: 5px;
    font-weight: normal;
    color: #ffef99;
}

.experience-item p {
    margin: 0;
    color: #ffd700;
}

.experience-item ul {
    list-style: none;
    padding: 0;
}

.experience-item ul li {
    margin-bottom: 10px;
}
